.grid-container {
    display: grid;
    grid-template-areas:
        "grid-item photo"
        "grid-item title"
        "grid-item linkedin"
        "grid-item posts"
        "grid-item about"
        "grid-item footer";
}

.photo {
    grid-area: photo;
}

.title {
    grid-area: title;
}

.linkedin {
    grid-area: linkedin;
}

.posts {
    grid-area: posts;
}

.about {
    grid-area: about;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.item {
    background-color: #1E96FF;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}