.item-1 {
    grid-area: item1;
}

.item-2 {
    grid-area: item3;
}

.grid container {
    display: grid;
    grid-template-areas: "item 1 item1 item3"
        background-color: #E0F6FF;
    border: 1px dashed #1E96FF;
    gap: 5px 10px;

}

.grid-item {
    background-color: #1E96FF;
    color: #ffffff;
    text-align: center;
    margin: 2px;
    padding: 15px;
}