.grid-photo {
    grid-area: photo;
}

.grid-title {
    grid-area: title;
}

.grid-linkedin {
    grid-area: linkedin;
}

.grid-posts {
    grid-area: posts;
}

.grid-about {
    grid-area: about;
}

.grid-sidebar {
    grid-area: sidebar;
}

.grid-footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "photo"
        "title title title"
        "linkedin posts"
        "about about"
        "footer footer footer";
    background-color: #e0fffc;
    border: 1px dashed #1E96FF;
    gap: 5px 10px;
    justify-items: stretch;
}

.grid-item {
    background-color: #1E96FF;
    color: #ffffff;
    text-align: center;
    width: 100%;
}